page-pay {
    .pay-header{
        margin: 31px 0px 29px 0px;
        width: 100%;
        text-align: center;

    }
      
    .item-ios.item-block .item-inner{
        border-bottom: none !important;
    }

    span b{
        font-size:3em;
    }
}
