page-register {
    .text-input-md{
        text-align: right;
    }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

        p{
text-align: center;
font-size:2em;
            }
}
