<!--
  Generated template for the DepositPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Deposit</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="!amountLoaded">
  <ion-item>
    <label class = "item item-input item-select">
      <div class = "input-label">
        AccountNumbersde
      </div>
      <select>
         <option>123456789</option>
         <option selected>1234567888</option>
      </select>
   </label>
    <ion-label>AccountNumbers</ion-label>
    
    <ion-select [(ngModel)]="number">
      <ion-option value="1223456">123456789</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input type="tel" maxlength="5" pattern="[^0-9]*" placeholder="AED" [(ngModel)]="userData.amount" name="amount"></ion-input>&#x62f;&#x2e;&#x625;
  </ion-item>
  <button class="wallet-button" (click)="loadAmount()">
    <ion-title>Proceed</ion-title>
  </button>
</div>

<div *ngIf="amountLoaded">
  <ion-col>
    <img class="center" src="assets/images/success.png" />
</ion-col>
<p class="success">Transaction Successfull</p>
<button class="wallet-button" (click)="redirectToHome()" name="done">
    <ion-title>Done</ion-title>
</button>
</div>

</ion-content>